body {
	background: url(/ui-englar/img/fond-ramp.jpg) top left no-repeat, url(/ui-englar/img/fond.jpg) top left;
	font-family: Verdana;
}

#logo {
	background-image: url(/ui-englar/img/playem-logo-login.png) ;
	width: 0;
	height: 0;
	padding-top: 133px;
	padding-left: 394px;
}

#txtNota {
	display: none;
}

#welcome p {
	margin: 20px 0;
}

/* duplicated from default ui */

a {
	color: inherit;
	text-decoration: none;
	border:none;
}

a:hover{
	color: white;
	text-decoration: underline;
}

#socialButtons {
	position: absolute;
	top:3px;
	right:3px
}

#fbconnect {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	background: url("/ui-default/img/facebook_connect_large.png");
	width: 300px;
	height: 40px;
	opacity:0.8;
    outline:none;
    transition: all 0.04s ease-in-out;
    -webkit-transition: all 0.04s ease-in-out;
    -moz-transition: all 0.04s ease-in-out;
}

#fbconnect:hover {
	opacity:1.0;
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1);
}

#fbconnect > span {
	display: none;
}

/* LOGIN PAGE */

#welcome {
	text-align: center;
	width: 400px;
	height: 300px;
	position: absolute;
	top: 50%;
	margin-top: -150px;
	left:50%;
	margin-left: -200px;
	font-size: 12px;
	color: white;
	text-shadow: 0px 1px 0px #000;
}

/* MAIN PAGE */

#container {
	text-align: center;
	width: 800px;
	height: 400px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	
	font-size: 12px;
	color: white;
	text-shadow: 0px 1px 0px #000;
}

#player {
	position: relative;
}

#selGroup {
	display: block;
	margin: 5px auto;
}

#socialPane,
#playlist {
	display: none;
}

#btnNext {
	cursor: pointer;
	position: absolute;
	top: 180px;
	left: 660px;
	background: url(/ui-englar/img/next.png);
	width:0;
	height:0;
	padding-left: 85px;
	padding-top: 18px;
	overflow: hidden;
}

/* COPYRIGHT */

#footer{
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 10px;
	color: #697389;
	text-shadow: 0px 1px 0px #000;
}
#footer a, #footer a:link, #footer a:visited{
	color: #7d89a3;
	text-decoration: none;
}
#footer a:hover{
	color: #ffffff;
	text-decoration: none;
}