/*
  The base stylesheet of your application.
  It should define rules common for all pages.
*/

html, body {
	font-family: Helvetica, Arial, Sans;
	background-color: black;/*#222;*/
	width:100%;
	height: 100%;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	color:white;
}

.back {
  position:absolute;
	top:-20px;
	left:0px;
	height: 350px;
	width: 100%;
}

.backimg {
  background:url(playem-back.png)
}

.gradient {
  /* Anciens navigateurs */
	background: url("gradient-bg.png") repeat-x top;
	/* Navigateurs récents */
	background: -moz-linear-gradient(
		top,
		rgba(0,0,0,0),
		rgba(0,0,0,1)
	);
	background: -webkit-gradient(
		linear,
		left top, left bottom,
		from(rgba(0,0,0,0)),
		to(rgba(0,0,0,1))
	);
}

a {
	color: inherit;
	text-decoration: none;
	border:none;
}

a:hover{
	color: white;
	text-decoration: underline;
}

#footer {
	position:absolute;
	bottom:2px;
	right:16px;
	font-size:10px;
	color:gray;
}

#welcome {
  position:absolute;
	top:50%;
	left:20%;
	width:60%;
}

#container {
  position:absolute;
  width:1px;
  top:120px;
  left:50%;
}

#player {
  position:absolute;
  left:-372px;
  /*width:744px;*/
  background:black;
  padding:1px;
  margin:1px;
  white-space:nowrap;
}

#playlist {
  display:inline-block;
	border:1px solid #444;
  width:200px;
  height: 360px;
  font-size:12px;
  padding: 0px;
  margin: 0px;
  white-space:nowrap;
  overflow:hidden;
  vertical-align:top;
  padding:1px;
}

li {
  cursor: pointer;
  color:gray;
}

li:hover {
  color:white;  
}

#videoEmbed {
  position:relative;
  display:inline-block;
  border:1px solid #444;
  width:530px;
  height:360px;
  padding:1px;
  overflow:hidden;
}

#socialPane {
  position:absolute;
  border:1px solid #444;
  right:1px;
  width:530px;
  height:130px;
  padding:1px;
  white-space:normal;
}

#socialPane > img {
  float: left;
  padding-right: 10px;
}

#socialPane > p {
  margin: 10px;
}

.timestamp {
  font-size: 9px;
  color:gray;
}

.postShareFB {
	float:right;
	background: url("/facebook_share.png") no-repeat;
	width: 50px;
	height: 17px;
	cursor:pointer;
}

#simplemodal-container {
	position: relative;
	display:none;
	background-color:black;
	border:4px solid white;
	filter: alpha(opacity=90);
	-moz-opacity: 0.90;
	opacity: 0.90;
	text-align:center;
	padding:12px;
}

#simplemodal-container a.modalCloseImg {
	background:url(/x.png) no-repeat;
	width:25px; height:29px;
	display:inline; z-index:3200;
	position:absolute;
	top:-15px; right:-16px;
	cursor:pointer;
}