body.playemParent {
	position: absolute;
	left: 200px;
}

#playemBookmarklet {
	display: block;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 100%;
	border: 1px solid #b7b7b7;
	background: white;
	z-index: 1000;
	overflow: hidden;
	-webkit-box-shadow: 0 0 12px rgba(0,0,0,0.65);
	-moz-box-shadow: 0 0 12px rgba(0,0,0,0.65));
	-ms-box-shadow: 0 0 12px rgba(0,0,0,0.65);
	-o-box-shadow: 0 0 12px rgba(0,0,0,0.65);
	box-shadow: 0 0 12px rgba(0,0,0,0.65);
}

#playemHeader {
	position:relative;
	z-index: 2;
	width: 100%;
	margin: 0;
	padding:0;
	height: 49px;
	border-bottom : 2px solid #555;
	background: #000;
	-webkit-box-shadow: 0 1px 3px rgba(0, 32, 77,0.4);
	-moz-box-shadow: 0 1px 3px rgba(0, 32, 77,0.4);
	-ms-box-shadow: 0 1px 3px rgba(0, 32, 77,0.4);
	-o-box-shadow: 0 1px 3px rgba(0, 32, 77,0.4);
	box-shadow: 0 1px 3px rgba(0, 32, 77,0.4);
}

#playemHeader > a {
	position: absolute;
	top: 7px;
	left: 12px;
}

#playemHeader > a > img {
	width: 32px;
	height: 32px;
	float: left;
}

#playemHeader > a > span {
	float:left;
	color: #fff;
	margin: 5px;
}

#playemHeader > div {
	position: absolute;
	top: 12px;
	right: 10px;
	cursor: pointer;
}

#playemContent {
	border: none;
}

#playemLoading {
	position: absolute;
	top: 160px;
	left: 0px;
	width: 550px;
	text-align: center;
}

/* extracted content */

#playemContent li {
	position: relative;
	padding: 6px;
	width: 240px;
	height: 32px;
	overflow:hidden;
	cursor: pointer;
	font-family: "Helvetica-Neue", Helvetica, Arial, Sans-serif;
	font-size: 13px;
	color: #525252;
	list-style: none;
}

#playemContent li > img {
	opacity: 0.6;
	width: 32px;
	float: left;
}

#playemContent li:hover > img {
	opacity: 1;
}

