{# The template of the index page #}

{% extends 'base.html' %}

{% block title %}Play'em!{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  
	<div id="welcome">
    <p>Welcome to play'em!</p>
    <p>Connect to your facebook account, so that we can gather a playlist from your friends' shared videos.</p>
    <p><a href="javascript:login()"><img src="{% static 'images/facebook_connect_large.png' %}" alt="click here to login"/></a></p>
  </div>
  
  <div id="container" style="display:none;">
    <div id="player">
      <ul id="playlist"></ul>
    	<div id="videoEmbed"></div>
      <div id="socialPane"></div>
    </div>
  </div>

  <div id="fb-root"></div>
  
{% endblock %}
